@import "tailwindcss";

@theme {
  /* Fuentes Rivolia */
  --font-montserrat: var(--next-montserrat);
  --font-cinzel: var(--next-cinzel);

  /* Colores Rivolia */
  --color-rivolia-primary: #A61E22;
  --color-rivolia-secondary: #4E2F2B;
  --color-rivolia-accent: #AF8846;
  --color-rivolia-beige: #CFC3B5;
  --color-rivolia-primary-dark: #651410;
  --color-rivolia-secondary-dark: #271110;
}

body {
  background: #ffffff;
  color: #171717;
}
